{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="img-container">
    
</div>
<div class="container">
        <div class="row">
            <h5 class="display-4 book-feature-info text-black mt-4">
                Check out our top reads and deals this month!
            </h5>
        </div>
        <div class="row feature-row">
        <div class="">
            <div class="book-feature-wrapper">
                <a href="{% url 'books' %}?category=clearance">
                    <img src="/media/clearance.png" class="book-feature" alt="Book feature image for clearance">
                </a>
            </div>
        </div>
        <div class="">
            <div class="book-feature-wrapper">
                <a href="{% url 'books' %}104"> <!-- Removed / before 104 -->
                    <img src="/media/best-seller.png" class="book-feature" alt="Book feature image for best seller">
                </a>
            </div>
        </div>
        <div class="">
            <div class="book-feature-wrapper">
                <a href="{% url 'books' %}?category=horror_mystery">
                    <img src="/media/horror.png" class="book-feature" alt="Book feature image for horror/mystery">
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}