{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Wishlist</h2>
            <hr>
            <h4 class="logo-font mb-2">Manage your Wishlist</h4>

            {% if wishlist %}
                {% for product in wishlist %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if product.image_link %}
                                <a href="{% url 'book_detail' product.id %}">
                                    <img src="{{ product.image_link.url }}" class="card-img-top img-fluid mx-auto d-block wishlist-img" alt="{{ product.title }}">
                                </a>
                                {% else %}
                                    <img class="card-img-top img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'book_detail' product.id %}" class="text-decoration-none">
                                        <h5 class="card-title">{{ product.title }}</h5>
                                    </a>
                                    <h6 class="card-title">By: {{ product.author }}</h6>
                                    <p class="card-text">{{ product.blurb }}</p>
                                    <p class="card-text"><small class="text-muted">Price: {{ product.price }}</small></p>
                                    <a href="{% url 'user_wishlist' product.id %}" class="btn btn-outline-black rounded-0 mt-5 text-uppercase" value="{{ product.id }}">Remove from Wishlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You currently have no books in your wishlist, click the button below to find your new favourite read...</p>
                <a href="{% url 'books' %}?category=all" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-book"></i>
                    </span>
                    <span class="text-uppercase">Check out our books!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}