{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image_link %}
                        <a href="{{ product.image_link.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image_link.url }}" alt="{{ product.title }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}.noimage.png" alt="{{ product.title }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="book-details-container mb-5 mt-md-5">
                    <!-- do we need to display anymore info? -->
                    <p class="mb-0">{{ product.title }}</p>
                    <p class="mb-0">By {{ product.author }}</p>
                    <p class="mb-0"><small class=text-muted>Book length: {{ product.pages }} pages</small></p>
                    <p class="mb-0"><small class=text-muted>Year of release: {{ product.release_year }}</small></p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.blurb }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}