{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="review-form" class="edit-review-form-">
    <h2 class="text-center mt-2">Edit Your Book Review</h2>
    <div class="review-form-wrapper form-group">
        {% if request.user.is_authenticated %}
        <form method="POST" action="" class="review-form text-center">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn submit-btn btn-black text-uppercase">Submit Edited Review</button>
        {% else %}
            <p class="text-center">Please <a class="link" href="{% url 'account_signup' %}">Register</a> or <a class="link" href="{% url 'account_login' %}">Login</a> to review a book.</p>
        {% endif %}
    </div>
</div>
{% endblock %}